<!doctype html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="static/js/jquery-1.9.0.js"> </script>
</head>
<body>
  <script>
  $(document).ready(function(){              // по окончанию загрузки страницы
    $('#btn').click(function(){      // вешаем на клик по элементу с id = example-1
        alert("touched");// загрузку HTML кода из файла example.html
    })
});
    $('button').on('click', function() {
    alert("ha")
});
</script>
<title>Hello from Flask</title>
{% if users %}
  {% for item in users %}
   {% for elem in users %}
    <li>{{ elem[0] }}</li>
   {% endfor %}
  {% endfor %}
      First name: <input type="text" name="fname"><br>
      Last name: <input type="text" name="lname"><br>
      <button type="button" id = "btn">Register </button>


  <script>
  $(document).on("click","a",function(e){
      $.ajax({
      type: "POST",
      data: "id=" + $(this).attr("id"),
      url: "https://enigmatic-mesa-89892.herokuapp.com/usersdel"
      });
  });
  </script>
  <a href="javascript:;" id="1"><div id="button">Like!</div></a>
  <a href="javascript:;" id="2"><div id="button">Like!</div></a>
{% else %}
  <h1>Наразі немає чатів!</h1>
{% endif %}
</body>
