<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>click demo</title>
  <style>
  li {
    list-style-type: none;
    padding: 1%;
  }
   .hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }
   #main {
     background-color: #FBF4E8;
   }
   body {
     background-color: #FBF4E8;
   }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  <img src="{{ url_for('images', filename='logo.png') }}">
  <div id = "main">
  {% if users %}
   <ul>
    {% for item in users %}
     <li id ="{{ item[1] }}">
         <ul class="hr">
         <li>{{ item[0] }}</li>
         <li><button value="{{ item[1] }}" >Закінчити діалог</button></li>
         </ul>
     </li>
     {% endfor %}
  </ul>
 {% else %}
<h1>Ви ні з ким не переписуєтесь!</h1>
{% endif %}
<script>
$( "button" ).click(function() {
  $.ajax({
  type: "POST",
  data: $(this).attr("value"),
  url: "{{ url_for('usersdel') }}"
  });
  $("#"+$(this).attr("value")).slideUp();
});

</script>
</div>
</body>
</html>
