# -*- coding: utf-8 -*-
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>click demo</title>
  <style>
  li {
    list-style-type: none;
    padding: 1%;
  }
   .hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  {% if users %}
   <ul>
     {% for item in users %}
      {% for elem in users %}
       <li>{{ elem[0] }}</li>
      {% endfor %}
     {% endfor %}
  </ul>
 {% else %}
<h1>Ви ні з ким не переписуєтесь!</h1>
{% endif %}
<script>
$( "button" ).click(function() {
  $( this ).slideUp();
  alert($( this ).attr("value"))
});
</script>

</body>
</html>
